[2015-02-09 21:59] mariobehling opened #2 "Change map to FOSSASIA location map"

[2015-02-09 22:00] mariobehling commented on #2
@ty221 Would you like to work on this companion and help to adapt it for FOSSASIA?

[2015-02-09 22:06] ty221 commented on #2
@mariobehling yes sure! I will work on this project tomorrow

[2015-02-09 22:18] mariobehling opened #3 "How to import data in the app? What format is possible?"

[2015-02-09 22:23] ty221 commented on #3
Without any doubts we can import plain text files, CSV files nad PDF files.
Od course we can import also images and videos. Other formats also may be
importable, but not in so easy way.
W dniu pon., 9 lut 2015 o 23:18 Mario Behling <notifications@github.com>
napisał(a):

[2015-02-10 12:10] mariobehling commented on #3
@ty221
1) Could you describe how the workflow happens?
2) What structure does a CSV file need to have? Do you have a sample?
3) Where can we store it to update the app?
4) What about the picture file of the map?
5) What would be the way to add photos of speakers in the speakers section?

[2015-02-10 12:28] prashantpandeyfun10 commented on #3
@mariobehling  what you want to import is the first question one should ask!

[2015-02-10 13:20] mariobehling commented on #3
What do we want to import: All information relevant to holding an event: The most obvious ones are times/content of talks, speakers, speaker photos, speaker information and how to get to a location (a map)

[2015-02-10 14:42] mananwason opened #4 "Person Information is NULL"
Even though my google plus account is functional and It shows user is connected. It goes to the else part and says that Person Information is NULL. Please Help. Is this with everyone or just me?
![image](https://cloud.githubusercontent.com/assets/10570249/6129010/f3e6ef38-b160-11e4-8147-5270cd50d062.png)

[2015-02-10 18:42] batraabhishek opened #5 "Code refactoring from Fosdem to Fossasia"
I would like to work on code refactoring from Fosdem to Fossaisa. This will also help me in understanding the code flow of the app, thus it will become easy for me to implement new features.

[2015-02-10 18:52] batraabhishek commented on #3
Currently the app is importing data by calling this API endpoint https://fosdem.org/2015/schedule/xml. Obviously Fossasia need to have its own endpoint for downloading data. The endpoint can return the data in Xml or Json format. From there we can deserialise the data and store it in Sqlite database. The endpoint should also return images url that can be letter used to fetch the images. We can use

[2015-02-10 18:55] batraabhishek commented on #4
@mananwason  Can you please point where this code is located. I am not able to find it.

[2015-02-10 19:08] mariobehling commented on #3
Yes, it is important that the app stores data, images, the map locally as people move around and do not have net all the time. A nice workflow from an organizers perspective would be to create a spreadsheet in Google docs with session times, speakers, title, session description, link to picture etc. From the spreadsheet we could then generate an XML or JSON (e.g. using Gadgets). How could such a s

[2015-02-10 19:10] mariobehling commented on #5
Yes, great. Please feel free to work on it. A question is, how could we merge improvements from the original app in future? Or should we just move forward and develop a separate code base completely to keep it easier for us?

[2015-02-10 19:25] batraabhishek commented on #5
I might be wrong here, it will become difficult with time to merge code from the original repo. as we might end up implementing our own improvements. Even refactoring will create a lot of merge conflicts. So according to me the best options is maintain a separate codebase. And porting any major improvement manually from the original repo. to fossasia repo.

[2015-02-10 19:25] mananwason commented on #4
@batraabhishek It's in the settiings class, there you'll easily find it.

[2015-02-10 19:28] mananwason commented on #5
Yeah @mariobehling I also agree with @batraabhishek, It will be much easier to maintain a separate codebase. Maybe in separate branches.

[2015-02-10 19:28] mananwason commented on #4
But could you get the app to work ?

[2015-02-10 19:35] batraabhishek commented on #4
Yes, I am able to successfully build and run the app. My bad but I am still not able find the above code or Settings.java class. May be I am missing something here.

[2015-02-10 19:52] mananwason commented on #4
I am also able to build and run the app, but after logging in nothing works

[2015-02-11 17:58] ty221 commented on #5
That is good idea. Let us create separate branch, work on it, and when it will be working properly - eventually merge it.

[2015-02-12 08:11] sandeepwww commented on #3
I agree with @batraabhishek. The data can be accessed from a CSV( stored in a spreadsheet) or JSON responses . The data and images combined can added from there to a SQLite database.  This can be used inside the app offline. We can provide a refresh like in the fosdem app. On clicking this database will be updated. So user will be to access the data offline. Regarding the maps, fosdem used an imag

[2015-02-12 17:58] batraabhishek commented on #3
@mariobehling I was going through the FOSSASIA site. There is a lot of data available on the site, FOSDEM data is much limited in comparison. I want to ask is the static or is it using custom made API to fetch the data? I have only seen index.html in fossaisa15 repository and everything is static there. So assuming everything is static, we should include the following information in the app:

**Sc

[2015-02-13 09:58] mariobehling commented on #3
Hi, this sounds all great. If you are interested in this, just start to adapt the app. From a user perspective of organizers, I suggest: We upload a spreadsheet to Google docs and use a gadget to create the JSON, that can be imported.

[2015-02-13 09:58] mariobehling commented on #5
Yeah, good idea. Feel free to start working on it and merging code here.

[2015-02-13 19:45] batraabhishek commented on #5
Sure. Thanks

[2015-02-14 04:23] mananwason commented on #3
I would also like to work on it but I am not too clear on how to get json data from the website ?

[2015-02-16 16:31] batraabhishek commented on #3
Okay here it goes :P Basically Google provides API (free) for direct conversion of spreadsheet document to JSON. For example if the spreadsheet URL is https://docs.google.com/spreadsheets/d/1v5-lJlRpWaYNSaxhcGh7jA5k-6WEq4lSHMVxBsvL-C4/ . We need to fetch the key part ie., **lJlRpWaYNSaxhcGh7jA5k-6WEq4lSHMVxBsvL-C4** and append in this URL https://docs.google.com/spreadsheets/d/1v5-lJlRpWaYNSaxhcGh

[2015-02-16 16:35] mariobehling commented on #3
@batraabhishek Yes, this sounds like a great idea. How would the spreadsheet have to look like? Let's make an example here: https://docs.google.com/spreadsheets/d/13O8ysuMtDGU69JnyZ6yDbzajGQJuDeoLv1zZW94ELXk/edit?usp=sharing

[2015-02-16 16:45] batraabhishek commented on #3
@mariobehling We will have to maintain different spreadsheets for different Categories. Like Schedule, Speaker, Sponsors etc. I have added some data for Key Speakers. Here is the JSON link https://docs.google.com/spreadsheets/d/13O8ysuMtDGU69JnyZ6yDbzajGQJuDeoLv1zZW94ELXk/gviz/tq?pli=1

[2015-02-16 16:57] mariobehling commented on #3
Would it be possible to do this on different sheets in one document? Also: Speakers and their talks are linked in the app. Does this have any implications?

[2015-02-16 17:16] batraabhishek commented on #3
@mariobehling Yes, we can use different sheets in one document. Every sheet has unique GID value associated with it. We can append this GID in the JSON url, to get JSON of the specific sheet. Have a look at the screenshot

![screen shot 2015-02-16 at 10 44 18 pm](https://cloud.githubusercontent.com/assets/3257840/6216187/862db400-b62d-11e4-9c2c-c22817e90f7d.png)

JSON URL for second sheet

https:/

[2015-02-16 17:18] batraabhishek commented on #3
**--Speakers and their talks are linked in the app**
@mariobehling We need to find some way to handle joining of different sheets like we do in tables. I will update here once I find something on this

[2015-02-16 18:36] batraabhishek commented on #3
@mariobehling I have defined three sheets in the Google Doc link you provided.

1) Speaker
2) Talks
3) Speaker Talks Relation

**Speaker** : List of speakers
**Talks**: List all the information and details related to talks
**Speaker Talks Relation** : Allows only to choose Speaker name and Talk Title from a lost of drop down. The dropdown is generated from the first two sheets. Hence its a kind of

[2015-02-16 19:11] mariobehling commented on #3
Looks great. How can we get this data now into the app? Could you implement this gateway?

[2015-02-16 19:26] batraabhishek commented on #3
Sure, i will start with the module implementation.

[2015-02-18 05:07] batraabhishek commented on #3
@mariobehling Please see my updated pull request. I have implemented the module for fetching KeySpeakers and populating them.

PS: I have added Lorem Ipsum data to the above Google Spreadsheet.

[2015-02-18 07:31] mariobehling commented on #3
Great! Good job.

[2015-02-18 10:20] todipratik commented on #2
@mariobehling I have changed the location to **FOSSASIA 15** venue but what about the image that is present in **Map**. Do you have any similar campus map for **FOSSASIA 15**?

[2015-02-18 11:00] mariobehling commented on #2
Yes, we will have a map, but maybe it is only ready one week before the event.

[2015-02-18 11:06] todipratik commented on #2
so for now can we leave the screen blank ?

[2015-02-18 11:26] mariobehling commented on #2
Here is a screenshot of the map. Maybe we can use this as a placeholder until we have sth better.
Cut it to other dimensions if needed
![fossasia15-location](https://cloud.githubusercontent.com/assets/1583873/6246445/546c8774-b769-11e4-84cd-21dd2dde5534.png)

[2015-02-18 12:36] todipratik commented on #2
done in commit #7
![screenshot_2015-02-18-17-59-10](https://cloud.githubusercontent.com/assets/6842317/6247301/d94773ee-b798-11e4-9618-7ef6c1f99eaf.png)

[2015-02-18 15:36] #4 closed

[2015-02-18 21:01] ty221 commented on #2
Seems to be ok now, however I am not sure should we close this issue or keep it open. Let us wait for @mariobehling opinion.

[2015-02-19 17:28] batraabhishek commented on #3
I have some doubt here. In Fossaisa website, speakers are not linked to their talks. So before implementing it in the app, we need to decide if we wish to link Speakers with talk (as the model for speakers will differ in both case), will the organizers will be able to provide this information ? Till then, I am starting with implementing Schedule and will update here once I am done.

[2015-02-20 12:24] ty221 opened #8 "README file should be updated"
README file contains old information, it should be updated with info:

1. This is app of FOSSASIA Event and it is basing on FOSDEM app.
2. List of contributors and used libraries should be updated.
3. Links to Google Play should be currently removed, links to FOSDEM changed to FOSSASIA.

[2015-02-20 13:06] mananwason commented on #8
Readme file is updated. Just review it once and when it's uploaded on play store, we can update the Play Store link as well

[2015-02-20 13:16] ty221 commented on #8
@mananwason Thank you for your changes, now README file seems to be ok.

[2015-02-20 13:16] #8 closed

[2015-02-20 13:25] mananwason opened #10 "closed"

[2015-02-20 15:10] #10 closed

[2015-02-20 15:11] mananwason commented on #8
Welcome @ty221

[2015-02-21 07:25] batraabhishek opened #12 "What all data should be displayed when the user clicks on an Event in Schedule List?"
Current Fosdem App displays - **Title, Start time, End time, Venue, Speaker, Category, Detailed information**. Let the **organizers** decide what all data is available and feasible to display when an event in schedule is clicked. Accordingly the model, spreadsheet structure, database structure and layout will differ.

Here is the screenshot from current **FOSDEM** app

![ak8mf8yv7cmq-ta5kb9ecg_s2z

[2015-02-21 08:14] mananwason commented on #12
Yeah we can let organizers decide whatever they want to show out of all the possible fields and if they don't want to show some field we can just keep it NULL and all NULL fields can be hidden.

[2015-02-21 16:14] batraabhishek commented on #12
@mananwason That sounds great and flexible :) , @mariobehling your call?

[2015-02-21 16:48] mariobehling commented on #12
@batraabhishek @mananwason Sounds good. Great progress!

[2015-02-22 05:32] #12 closed

[2015-02-22 05:32] #5 closed

[2015-02-22 07:39] sandeepwww commented on #3
@batraabhishek great going.  Could you please let me know if I could help in you in some part of the process? I'd be happy to!

[2015-02-22 07:47] mananwason commented on #2
If we are not using a customised map of the venue, shouldn't we just use google maps api showing the venue, not just the screenshot. I think that would be better. @mariobehling @ty221 ?

[2015-02-22 07:52] todipratik commented on #2
@mananwason the app is already linked to Google Maps. See the navigation button in action bar of the above screenshot.
The present screenshot would be replaced with a image at a later point of time that would show the inside venue in more detail.

[2015-02-22 07:53] batraabhishek commented on #3
@sandeepwww  Yes! Definitely. Please go through the above comments and understand how the data is fetched. If you have any doubt please feel free to ask here. Currently I am working on Key Speaker, and Schedule and events. So we are left with Organizers, Speakers, Sponsors. For starting if you are looking at something easy, you can take up implementing Sponsors. Please go through the app flow. If

[2015-02-22 07:57] mananwason commented on #2
@todipratik I saw the navigation button but thought that it would be more interactive if we had the maps in the app itself. No dependence on the maps application.
 We can put markers on the map itself to show details of the venue.

[2015-02-22 08:09] todipratik commented on #2
I think markers on map wouldn't provide that feel what a custom image would. It won't be possible to show inside places of the venue clearly.
However you can wait for the opinion of @mariobehling and @ty221.

[2015-02-22 08:15] mananwason commented on #2
apart from markers we can add different boundaries as well, to distinguish different areas and section. But let @mariobehling and @ty221 give their opinions first.

[2015-02-22 10:59] sandeepwww commented on #3
@batraabhishek Should I add a new item to drawer list for sponsors and it's corresponding fragment?

[2015-02-22 11:01] batraabhishek commented on #3
@sandeepwww Yes

[2015-02-22 11:02] sandeepwww commented on #3
@batraabhishek Perfect. As of now. I'll be working on the Sponsors Fragment
then!
On Feb 22, 2015 4:31 PM, "Abhishek Batra" <notifications@github.com> wrote:

[2015-02-22 21:45] mariobehling commented on #2
The original Fosdem app works well as an offline app and the map picture is always available offline. At an event, when hundreds of people try to go online over Wifi, it can become difficult to actually go online at times.

Maybe we could use the option of showing an offline map and a small button with an online map with markers?

What other options could be there?

[2015-02-23 04:07] mananwason commented on #2
@mariobehling I'm saying that we should use Google maps api, so the going online part isn't very difficult but then also there is this nice property of google maps api that it caches the map when it is opened for the first time. So you have to open the map just once at the venue, so I don't think this would be a problem.
 This is an application I made, build and try this.
https://github.com/mananw

[2015-02-23 05:07] batraabhishek commented on #2
@mananwason Google Maps API v2 allows using Map Overlay Tiles from app assets. So we will have to save tiles of the venue at different zoom level. Just a suggestion though. :)

[2015-02-23 06:30] mananwason commented on #2
@batraabhishek I know that. I was just saying that if we have to due to the wifi constraints, then we can save the tiles but most probably I think that there should be no need. Let @mariobehling @ty221 suggest something.

[2015-02-23 06:56] mariobehling commented on #2
@mananwason Sounds great, with the offline map. Did not know about the offline function. It sounds like a very good idea. I hope we can implement that with OpenStreetMap at a later time as well.

[2015-02-23 07:01] mananwason commented on #2
@mariobehling I didn't know about offline function in OpenStreetMap. So should we implement it right now or screenshot works fine ?

[2015-02-24 18:42] batraabhishek commented on #3
@mariobehling Lets try to finish Speakers, Key Speakers, Schedule, Events and Sponsors including bookmark and calendar support by 1st March '15. With this Organizers will get enough time to provide us with data. I am almost done Events. After this I planning to move on to Code cleaning (deleting all the old code that is not used now) and testing. @mariobehling  As Fossasia '15 is approaching shoul

[2015-02-25 19:18] mariobehling commented on #3
Excellent idea. One question I have here - what about talks, that have the same speaker? How should we do that in the spreadsheet?

[2015-02-26 17:43] batraabhishek commented on #3
Okay, I have created a separate sheet in the doc. That sheet consist of only two columns, speaker and talks. Speaker columns allows entries from Speaker sheet, And talk column involves events title from events sheet. Now Lets examine all possible combination  in the sheet. A speaker can have multiple talks. And a talk can be given by multiple speakers. I think both the situation is true. But not s

[2015-02-28 11:19] mananwason commented on #2
@mariobehling kindly reply

[2015-03-01 03:46] mariobehling commented on #2
@mananwason Sorry, for late reply. Let's just go for Google Maps and have a working version. I did not mean, that OSM has offline maps. Maybe they have. I do not know. Let's follow up on this later. It would be great, if you guys just implement the way you suggested above. Having tiles as a way to handle the offline/online question is great. Let's go for it! :-)

[2015-03-01 04:17] mananwason commented on #2
@mariobehling it's okay. I'll start right on the implementation.
 On 01-Mar-2015 9:16 am, "Mario Behling" <notifications@github.com> wrote:

[2015-03-01 18:28] batraabhishek opened #15 "Graphic assets for Fossasia Companion App?"
We need good graphics assets for the application including splash screen, icons, color scheme etc. And it would be great if we can have some promo graphics that can be uploaded to play store with the app.

[2015-03-02 01:31] mariobehling commented on #15
Who can help with that?

[2015-03-02 03:48] mananwason commented on #15
What kind of graphics do we need for the splash screen?

[2015-03-02 03:50] mariobehling commented on #15
Please use the FOSSASIA logo. Some artwork is here https://drive.google.com/folderview?id=0B4n_k1amQnpya3hZSzlvUjhzWFU&usp=drive_web

[2015-03-02 03:52] mananwason commented on #15
I'll do it. Just the logo for 5 secs, is it fine?

[2015-03-02 04:04] mariobehling commented on #15
Actually, there is no need to make people wait for any reason. If you can start the app in less than a second and the start screen is shown for an extremely short time, just do this. Start screen just lets people look at something while the app starts.

[2015-03-02 04:13] mananwason commented on #15
Cool I'll do it under 1 second

[2015-03-02 16:55] batraabhishek commented on #15
I would like to something here. I have already implemented a splash screen. There is only need to provide a cool and nice looking background related to Fossasia. Also, please don't fix a constant time for splash. In the splash screen, we are checking if the database is already present, if not it is downloaded from the Internet. Also, if the data is outdated, it is re-downloaded. So Its better to d

[2015-03-02 17:37] batraabhishek commented on #15
Since current artwork is in red. How about changing the app theme to red.
Here is a screenshot

![redred](https://cloud.githubusercontent.com/assets/3257840/6446385/d38021c6-c130-11e4-9450-a0a63be6133d.jpg)

[2015-03-02 22:33] mariobehling commented on #15
Yes, looks great. Thanks

[2015-03-03 16:55] batraabhishek commented on #15
@mananwason Hey, shall I take up this task, only If you haven't spent much work this. I don't want your work to get wasted :) Thanks @mariobehling Shall we inform the organizers so that they can start updating the database. They will need some documentation for entering data into spreadsheet (like date, time format etch). We are almost done here with the app. Only bookmarks and Live events is left

[2015-03-03 16:58] mananwason commented on #15
@batraabhishek  I thought you had implemented the splash screen, so I started working on other minor things and the map. I couldn't do much work due to my exams and stuff. So, if you have a working model, you can start it, I can help, if you want. :D

[2015-03-04 16:58] batraabhishek commented on #3
Hi @mariobehling , I need some help here... I am not able to find any speaker data in the Google doc is shared. Can you please point me if I am missing it.

[2015-03-04 17:55] batraabhishek commented on #3
Got it.... Its a combination of given name and family name :palm_tree:

[2015-03-05 13:35] mananwason commented on #2
@mariobehling I am almost done with the map. Just one question. How should we keep the map - Satellite, hybrid, normal or terrain.

[2015-03-05 14:21] mariobehling commented on #2
Awesome! Just normal is perfect. My biggest q. is will we be able to import the data from the current spreadsheet format we used this year, but this should be discussed in the other thread, I guess.

[2015-03-05 14:41] batraabhishek commented on #3
I am a bit scared right now to answer this question. I am working on this presently to convert the given data to our docs structure. Just in case, Do we any other option ? In the current doc, we are missing some data, like complete speaker information (including profile pic url etc). So should we remove those things from app?

[2015-03-05 15:28] mananwason commented on #2
I am not quite sure about it. I'll just get started on it. As soon as I figure something I'll post it on the thread.
P.s. -  I had a question. Will you be getting the internal map as well? If so, we should make a provision to see that as well.

[2015-03-05 15:30] mariobehling commented on #3
The information is not missing. The cells might be hidden. Click the arrows to expand.
![screenshot from 2015-03-05 23 30 12](https://cloud.githubusercontent.com/assets/1583873/6507797/9770ce4a-c38f-11e4-975e-c38ec2618e90.png)

[2015-03-05 16:33] batraabhishek commented on #3
@mariobehling  Okay thanks... Can you help me with one more thing.... How is the data fetched in the website.... May b we can use that model easily :) Thanks for your time

[2015-03-05 16:48] mariobehling commented on #3
There is no data on the website. We will probably just put a pdf on the site. On Google docs we collected the info through Google forms.

[2015-03-05 16:54] batraabhishek commented on #3
Is there any possibility that this data will be updated or is it final?

[2015-03-05 17:03] mariobehling commented on #3
95% final. Maybe we could import the data in the app and change the rest by hand if needed. Please let me know, when you import. I would put up the latest versions in the Google doc then.

[2015-03-05 17:22] batraabhishek commented on #3
Last thing... Currently there is one sheet for each Talk. Is it possible to export one spreadsheet containing all the data rather then having different sheets for each talk. I don't know what all export options are available while exporting data from google forms. Thanks

[2015-03-05 17:34] ty221 opened #19 "Navigation and sidebar are broken"
When I enter website I see:

![f1](https://cloud.githubusercontent.com/assets/3431139/6510410/217961ee-c366-11e4-9291-b0f6d9804537.JPG)

When I press the button to hide sidebar:

![f2](https://cloud.githubusercontent.com/assets/3431139/6510411/217d824c-c366-11e4-90c5-adbba8e138e0.JPG)

Some of content is cut

[2015-03-05 17:34] ty221 commented on #19
Sorry, bad repository.

[2015-03-05 17:34] #19 closed

[2015-03-05 18:50] batraabhishek commented on #3
@mariobehling I am starting to port the current structure, lets make it final. And any changes will be automatically updated on the app (no need to manually update it). I will post an update in few hours

[2015-03-06 01:25] mariobehling commented on #3
One sheet is one track and the track is in one room. I added the location information to the bottom of the "Friday Main" Sheet first. Does this work for you like that?

[2015-03-06 04:03] batraabhishek commented on #3
Yes, thanks

[2015-03-06 06:31] batraabhishek commented on #3
Is it fine If I add one more column **date** in every sheet ?

[2015-03-06 16:32] batraabhishek commented on #3
Imported all data except Exhibition... Wheww!! There is no time for exhibition events. Let me know how to proceed with it. @mariobehling @ty221 Please see MR

[2015-03-07 17:55] mariobehling commented on #3
ok, sounds great. Can I just copy updated sheets to the spreadsheet on Google or did you change anything, that you need to keep here?

[2015-03-07 17:56] mariobehling opened #21 "Where to release the app?"
1) What are the steps to release the app on the Android market and on Fdroid?
2) Could you provide an apk here on github?

[2015-03-07 17:57] batraabhishek commented on #3
You can copy updated data... Just make sure there is a date column present, and it should be the first column in every sheet. There can be some bugs. I will fix it ASAP as they are discovered.

[2015-03-07 18:00] ty221 commented on #21
Hi @mariobehling

To publish app on Google Play (former Android Market) you need to join Google Play Developer Program - there is one-time fee $25 (can be paid using Google Wallet). When you pay it you get access to Google Play Developer Console and possibilty to send your application.

I do not know the procedure in case of Fdroid.

I have already account with access to Google Play Developer Prog

[2015-03-07 18:02] batraabhishek commented on #21
For publishing on play store we need a play store account. Then we need to sign the app, first time signing will generate a key file. That key file must be preserved for further updating the app on Play Store. No idea about Fdroid though.

Yes, I will commit the APK.

[2015-03-07 18:03] ty221 commented on #21
Yes, @batraabhishek is true, I forgot to tell that the developer with Google Play account has to sign the APK file. If @batraabhishek commits it, I can sign it with my key.

[2015-03-07 18:06] mariobehling commented on #21
It would be great to get an organization account for FOSSASIA and publish other apps over this as well. Is it possible?

[2015-03-07 18:07] ty221 commented on #21
@mariobehling Yes. We just need to create Google Account for FOSSASIA and pay fee $25 (or ask them for sponsorship...)

[2015-03-07 18:18] batraabhishek commented on #21
I will finish the app in few hours and commit the APK here. Bookmarks and live event still remaining to fix

[2015-03-07 18:35] ty221 commented on #21
@mariobehling thank you for creating account on GPDC. @batraabhishek @mariobehling please let me know when to publish app

[2015-03-07 19:15] mariobehling commented on #3
Ok, copied it. We had to rename some headings in the first row. Please check, if that conflicts when you import. Thanks

[2015-03-07 21:45] ty221 opened #22 "Application description and summary on Google Play (+screenshots)"
We should create description and short description (summary) for our on Google Play. I've made sketch of them. This first one should be not longer than 80 characters and the second one - than 4000. Please tell me your changes suggestions an spelling/grammar mistakes improvments.
* * *
**Short description:**
Official FOSSASIA application for annual conference (2015 in Singapore)
* * *
**Long descri

[2015-03-08 01:16] mariobehling commented on #22
Thanks, looks good.

[2015-03-08 13:51] ty221 commented on #22
@batraabhishek Can you post here some screenshots?

[2015-03-08 13:56] batraabhishek commented on #22
Here you go :) Sorry for the delay. I am almost done with the App... Fixing bugs. Will upload apk soon

![screenshot_2015-03-08-19-23-09](https://cloud.githubusercontent.com/assets/3257840/6546043/e9902fa0-c5c8-11e4-84d4-85c14224391c.png)
![screenshot_2015-03-08-19-23-16](https://cloud.githubusercontent.com/assets/3257840/6546044/e9921bbc-c5c8-11e4-9093-2ebddff1a8fe.png)
![screenshot_2015-03-08-19

[2015-03-08 14:13] ty221 commented on #22
@batraabhishek Thank you very much. I am really impressed by your work. Keep it up :D

[2015-03-08 14:23] #15 closed

[2015-03-08 18:41] #22 closed

[2015-03-08 18:42] #21 closed

[2015-03-08 19:03] mariobehling opened #28 "V. 0.9 App does not install on Android Cynogenmod 2.7 Motorola Defy"
Steps: 1) Download and safe apk to sd card
2) Install app
3) Message appears "Application not installed" (nothing else)

[2015-03-08 19:05] ty221 commented on #28
@mariobehling The most possible reason it, that application package (APK) is not signed. Android denies installing unsigned apps.

[2015-03-08 19:06] ty221 commented on #28
@mariobehling I will send you by mail the signed APK (signed by me), please check it out.

[2015-03-08 19:19] mariobehling opened #29 "Correct Twitter and add Linkedin in original spreadsheet"
* Use pictures from github folder and add a link here

[2015-03-08 19:24] mariobehling opened #30 "Twitter links not working"
It looks like a click on the twitter button does not open the browers or twitter links.
This may be because there are different formats.
Which format do you prefer in the spreadsheet?
e.g. @twittername or http://twitter.com/name

[2015-03-08 19:26] mariobehling opened #31 "Add Linkedin to app"
We do not have a field for Linkedin in the document. I am adding this field behind the twitter field in the original document.

[2015-03-08 19:27] mariobehling opened #32 "Sessions with two speakers"
We do not have a field for the second speaker. How should we handle this? What document structure do you suggest?

[2015-03-08 20:14] #28 closed

[2015-03-08 21:07] mariobehling opened #33 "After Clicking on Track e.g. "Web" show the track name "Track - Web", dates of track and location on top + make "Tracks" clickable"
e.g.
= Tracks -> Web
March 14/March 15, ACE Blk79

* Make the word "Tracks" Clickable and link to the main screen.

[2015-03-08 21:34] mariobehling opened #34 "Implement location info/directions in map based on "version" sheet"
I added the venue/location information to the spreadsheet in the "version" sheet. Please check how the info can be implemented in the app.

[2015-03-09 02:09] batraabhishek commented on #31
@mariobehling The app tries to fetch data from spreadsheet with fixed sequence of columns. So adding new Column won't allow the app to download the data, as structure is changed. So in this case, if you need to app additional field, please add it at the end. This will allow both group of users (with old version of app, and new version of app) to use the app. Thanks for completing the Version Sheet

[2015-03-09 02:12] batraabhishek commented on #30
Any format is fine, but it should be same everywhere. Though we can handle both also.

[2015-03-09 03:37] mariobehling commented on #31
Sorry, we changed the structure before you made the comment. Also some fields had be renamed. Could you implement this, please in the app? I think these should be the last changes in the structure.

[2015-03-09 04:36] mariobehling opened #35 "Current Release not Working"
@ty221
The current release is not working as we are generating the DB from the spreadsheet. We had changed the spreadsheet structure yesterday and when you released the app, it already did not worked. Please check the app in the app store.

Let's check that the app works before we release it on the app store. Cheers.

 @batraabhishek Some headings were changed as well. This should be the last majo

[2015-03-09 05:01] batraabhishek commented on #35
Already on it :)

[2015-03-09 05:20] batraabhishek commented on #35
Fixed current release. While updating there are few other things to update.
In the Versioning sheet there is a column GID. This value has to be updated when any sheet is updated. Now how to get the GID ?
For any sheet, look at the URL
It will look like this https://docs.google.com/spreadsheets/d/1tt6LXrnc_onSZEbAzzA0bZiq_mtPFNHE8a8P5a6T-tQ/edit#gid=614071948

**gid=614071948** is the GID here.

In

[2015-03-09 06:52] mariobehling commented on #35
Ok, great. Thanks for the info!

[2015-03-09 06:52] #35 closed

[2015-03-09 07:08] mariobehling commented on #30
not sure, where is the link to Twitter. Does not seem to work anywhere. Can you let me know, where it should work?

[2015-03-09 07:23] batraabhishek commented on #33
How about this? Added a back button to go to main screen, Venue is too big to display in one line with dates. Suggestions?
![screenshot_2015-03-09-12-44-07](https://cloud.githubusercontent.com/assets/3257840/6551240/233096c2-c65b-11e4-9530-495193810414.png)

[2015-03-09 07:46] mariobehling commented on #33
Yes, very good.

[2015-03-09 07:56] mariobehling opened #36 "All tracks should display Fri/Sat/Sun, but on days that those tracks dont have sessions an "no sessions on this day" is displayed"
e.g. for the Saturday sessions, I added fields above each "Sat" for Friday 13 and added "no sessions on this day" in the topic field.

[2015-03-09 08:06] mariobehling opened #37 "Add Linkedin and Twitter to call for speakers doc"
We need to add more info into the speakers spreadsheet in order to see the link in the app. There are two columns in the tracks for a) Twitter and at the end b) for Linkedin. Please add the links to speakers, e.g. that you find on the website.

[2015-03-09 08:11] #33 closed

[2015-03-09 08:14] batraabhishek commented on #30
Fixed Twitter links. Supports both @twittername and url format. Changes will reflect in updated App

[2015-03-09 08:45] batraabhishek commented on #31
Fixed

[2015-03-09 09:10] batraabhishek commented on #36
fixed

[2015-03-09 09:39] batraabhishek commented on #34
How about displaying an icon in ActionBar (top bar) in Track screen. On clicking it open Google Maps ?

[2015-03-09 09:41] mariobehling commented on #34
Yes, good idea. Also the question is, if we could make the "location info" above the talks clickable.

[2015-03-09 09:43] batraabhishek commented on #34
Yes ! Will do that

[2015-03-09 09:45] mariobehling commented on #34
Does the map work already with you? I still see the static map picture here.

[2015-03-09 09:45] tonghuix opened #38 "Installation Failed in Android 4.3 (GT-9300), RELEASE 0.9"
I tried install RELEASE 0.9 from Github Repo, but failed.

Then I install from Google Play successfully. I know it is a old release.

My Phone is Samsung GT-9300 ships Android 4.3.

[2015-03-09 09:50] batraabhishek commented on #38
It's an unsigned built. It requires signing before it can be installed. You can download it from here
https://play.google.com/store/apps/details?id=org.fossasia

[2015-03-09 09:56] batraabhishek commented on #34
No, static image. @mananwason is working on this I guess.

[2015-03-09 10:00] mariobehling opened #39 "Change color of background of start screen to red, font to white and more info about 2015"
To do:
* Start screen background red
* font/logo in white
* Add info below similar style on website<br>
MARCH 13TH - 15TH SINGAPORE<br>
OPENING EVENT FRIDAY MARCH 13<br>
@ BIOPOLIS MATRIX<br>
TRACKS ON SAT/SUN MARCH 14/15<br>
@ LAUNCHPAD CAMPUS IN BLK71 AND BLK79
![fossasia-squarewhite-path](https://cloud.githubusercontent.com/assets/1583873/6552935/2210b8c8-c686-11e4-8f98-84f606bddf1a.png)

[2015-03-09 10:21] mariobehling commented on #34
![fossasia-map](https://cloud.githubusercontent.com/assets/1583873/6553190/0953342a-c689-11e4-9bb7-79a196ac4441.png)
Here a better screenshot of the FOSSASIA venue locations. Please add.

[2015-03-09 10:53] #38 closed

[2015-03-09 11:49] mananwason commented on #34
@mariobehling @batraabhishek Even though I am done with the map, I don't think it's wise to include it, as it needs 4 more permissions and we don't get a very good look of the venue as well. The location is just shown as a pointer, Maps doesn't provide a zoomed version. Also, we have to add another library, i.e. the Play services. So, it's not worth it in my view. What do you suggest?

[2015-03-09 12:22] mariobehling commented on #34
I dont have a clear opinion. Could you offer a test apk with the map? Many people have installed Play services already. So, I think it would not be an issue.

[2015-03-09 12:34] ty221 commented on #34
Hi,
Using permissions is nothing wrong. Every body knows we need them for map
(we can write info about it in description too). IMHO Google Play is good
solution
On Mon 9 Mar 2015 at 13:22 Mario Behling <notifications@github.com> wrote:

[2015-03-09 12:35] mariobehling opened #40 "In track overview, add name of Speaker below talk title"

[2015-03-09 12:35] ty221 commented on #34
I am sorry I meant Google Maps :)
On Mon 9 Mar 2015 at 13:34 Tymon Radzik <dwgipk@gmail.com> wrote:

[2015-03-09 12:40] mariobehling opened #41 "Breaks - Lunch, Coffee Break are not showing up in schedule"

[2015-03-09 12:44] batraabhishek commented on #40
Fixed

[2015-03-09 12:58] batraabhishek commented on #41
@mariobehling While fetching from spreadsheet to database, to avoid any dirty data(blank columns mainly) these four fields are: required, date, time, given name, topic name. So if we want to fill Lunch, Coffee Break, we have to fill **date, time, given name, topic name** fields, then it will be show up in schedule. But here is a drawback. It will end the data under Given name in speakers also :P.

[2015-03-09 13:08] ty221 commented on #39
Please reassign to me. Will improve
On Mon 9 Mar 2015 at 11:00 Mario Behling <notifications@github.com> wrote:

[2015-03-09 13:39] mariobehling commented on #41
@batraabhishek Could you release a new version with the points you fixed already? Release early, release often ;-)

[2015-03-09 14:18] #31 closed

[2015-03-09 14:29] #30 closed

[2015-03-09 14:29] #2 closed

[2015-03-09 14:29] #36 closed

[2015-03-09 14:33] #40 closed

[2015-03-09 14:37] mananwason commented on #34
@mariobehling @ty221 I just meant that we are getting the same results(the view) with more number of permissions, so, I don't really see the point of adding maps. Anyways, I am trying something else, if it pans out, i'll merge it, otherwise as @mariobehling says, i'll give a test apk with the map fragment.

[2015-03-09 14:49] mariobehling commented on #34
The difficulty is that we have two locations this time. Maybe it would be possible to define different areas on the map. Then the user touches it and the location opens in the map application. Please have a look at the spreadsheet "FOSSASIA 2015 - Talks App Sample". There is a sheet "versioning" with all the location data and map links. What do you suggest as a good way for participants?

[2015-03-09 15:28] batraabhishek commented on #41
@mariobehling Sure:) I see @ty221 has released a new version. I will release further version from now on :+1:

[2015-03-09 15:29] ty221 commented on #41
@batraabhishek Yes, I've released it as it contained a lot of useful changes. It will appear in Google Play in next few hours.

[2015-03-09 15:37] batraabhishek commented on #41
@ty221 Thanks :D

[2015-03-09 15:38] ty221 commented on #41
@batraabhishek No problem :-)

[2015-03-09 15:41] ty221 commented on #41
@batraabhishek @mariobehling How about this workaround? Let us fill these places, by e.g. "!!!". Then in application verify if field is "!!!", make impossible to go to details and do not display any speaker, etc.

[2015-03-09 15:47] mariobehling opened #42 "Clicking on a track -> Go to the first day of sessions"
Currently after the user clicks a track, the screen shows on most tracks "no sessions on this day" and then the user clicks again on e.g. "March 13".
Desired behaviour: The user clicks on track and gets the first day with tracks right away, e.g. March 14.
*For the Friday OpenTech track that should be March 13.

[2015-03-09 15:49] mariobehling opened #43 "Breaks and Lunch parts show up multiple times in track"
e.g. Lunch Lunch Lunch Lunch. - Once is enough, I guess.

[2015-03-09 15:49] batraabhishek commented on #43
Hehe... Yeah one is enough... Already working on this

[2015-03-09 15:50] ty221 commented on #42
@batraabhishek @mariobehling If you don't mind, I can finish working on this enhancement :)

[2015-03-09 15:58] batraabhishek commented on #42
@ty221 Sure, let me know if you face any problem

[2015-03-09 16:04] mariobehling opened #45 "Add field "Moderator" to talk view"
I added a field at the end of the spreadsheet, where we want to enter the name of a moderator.

Please add the moderator in the talk view, e.g. like that:

Session moderator: Hong Phuc Dang

[2015-03-09 16:05] mariobehling opened #46 "Add "Sponsors and Partners" section"
What do you suggest, how a sponsor and partners section can be added?

[2015-03-09 16:07] mananwason commented on #46
Another Fragment with a list of sponsors in it or else just an image of all the sponsors logo.

[2015-03-09 16:09] mananwason opened #47 "About section"
In the about section information is not fully updated. Should we update it?
![screenshot4846062702242956473](https://cloud.githubusercontent.com/assets/10570249/6558895/f29fdb7c-c6a4-11e4-83f9-c7b1c4681686.png)

[2015-03-09 16:12] ty221 commented on #47
Without any doubts we should :-)

[2015-03-09 16:18] ty221 commented on #46
@mananwason IMHO better idea is to add another one fragment, as we still may add new sponsors

[2015-03-09 16:32] mananwason commented on #46
@ty221  I think you're right. We should add another fragment. I can do it.

[2015-03-09 17:17] batraabhishek commented on #43
Fixed !

[2015-03-09 18:01] mananwason commented on #47
should i leave c beyls name?

[2015-03-09 18:19] #43 closed

[2015-03-09 18:26] #47 closed

[2015-03-09 18:58] ty221 commented on #46
@mananwason It would be nice, if you can finish work on this issue :D

[2015-03-09 19:12] batraabhishek commented on #34
Implemented partial. Added a button in action bar on the screen when the track is clicked

[2015-03-10 00:33] mariobehling opened #50 "Search function does not seem to work"
When I use search I just get a kind of progress screen "for ever". Any ideas?

[2015-03-10 02:30] mananwason commented on #46
@mariobehling @ty221  How's this?

![screenshot8642972058743460347](https://cloud.githubusercontent.com/assets/10570249/6568308/6b7384e4-c6fb-11e4-87f4-b13d59006b14.png)
![screenshot8856506935719924265](https://cloud.githubusercontent.com/assets/10570249/6568309/6ddcf580-c6fb-11e4-86ed-5aba295bf435.png)

[2015-03-10 05:40] mariobehling opened #51 "How to export all events to a calendar e.g. ical?"
Request from Ujjwal: I know it's a lot of work but it would great if you guys could create the entire schedule as a calendar file. That would provide a great way for people to download it and be able to checkout all the events including ones that clash on their mobile.
What are your ideas?

[2015-03-10 05:46] batraabhishek commented on #51
Yeah good idea ! If any one is willing to do this, they can refer this library http://ical4j.sourceforge.net/introduction.html, a bit busy right now (college project submission), will again start working on the app in few hours. Will generate ical file ASAP

[2015-03-10 05:47] ujjwalt commented on #51
That looks great. Any Java programmers here :wink:

[2015-03-10 05:55] mananwason commented on #51
Hi @ujjwalt. I am a Java programmer

[2015-03-10 05:58] batraabhishek commented on #51
Me too !

[2015-03-10 09:08] mananwason commented on #46
@ty221 @mariobehling Please Reply.

[2015-03-10 09:35] ty221 commented on #46
@mananwason I like it, however in my opinion rows should have same height,
then it will look better
On Tue 10 Mar 2015 at 10:08 Manan Wason <notifications@github.com> wrote:

[2015-03-10 09:37] mananwason commented on #46
@ty221 I'll correct it.

[2015-03-10 09:40] ujjwalt commented on #51
@mananwason and @batraabhishek Can anyone of you quickly produce iCal files for the FOSSASIA schedule?

[2015-03-10 09:43] ty221 commented on #46
@Mananwason thank you :)
On Tue 10 Mar 2015 at 10:37 Manan Wason <notifications@github.com> wrote:

[2015-03-10 10:02] mananwason commented on #46
Sure @ty221 :)

[2015-03-10 10:08] batraabhishek commented on #51
@ujjwalt  Starting now...

[2015-03-10 10:27] ujjwalt commented on #51
Awesome!

On Tue, Mar 10, 2015 at 3:38 PM Abhishek Batra <notifications@github.com>
wrote:

[2015-03-10 11:41] mananwason commented on #46
@ty221 @mariobehling Do I need to specify the distinction between the venue and supporting partners and the title sponsers?

[2015-03-10 11:50] mariobehling commented on #46
Yes, would be good to have that option. Could you have a look at the "FOSSASIA 2015 - Talks App Sample" spreadsheet. I made a list of items for a sponsor. It would be good if we could fill the app through the spreadsheet - just like with the talks. Any suggestions for additional fields?

[2015-03-10 12:06] mananwason commented on #46
@mariobehling why do we need to have a sponsor column. It would be better to use logos instead of just names and for that it would be better to add images in the project only I guess.

[2015-03-10 12:23] mariobehling commented on #29
For clarification, we can use the links from the website directly or from github, e.g. https://raw.githubusercontent.com/fossasia/fossasia15/gh-pages/img/AartiDwivedi.jpg

[2015-03-10 12:53] mariobehling commented on #46
We want the app to be flexible and if possible to be used for other events. There is one row "link to image" where the app can download the image at the beginning. Please check how this is done for speaker images. Hardcoding is not the way to go. We are looking at a flexible process.

Currently, I also do not understand, why the images are in different sizes? I mean, I guess it is different image

[2015-03-10 14:06] mananwason commented on #46
@mariobehling I understand that you want to make the app flexible but you have to make one entry in the spreadsheet anyway. In my implementation also, we just have to put the image in the array i've made.
This also helps us because, if we set it to download every image on startup, it will take lot of time to load and specially at the time of the summit, where the bandwidth will be limited, it can

[2015-03-10 14:25] RoonyH commented on #46
@mananwason Imho you can't expect end users, (organizers are end users) to edit code. And having to release a new version for each new addition of a sponser is very bad.

[2015-03-10 14:30] batraabhishek commented on #46
@mananwason Moreover we are using Volley library, which has very efficient implementation of caching. So most wont be downloaded again and again. I agree with @RoonyH, even for small change we will have to release a new update, and most of the end-user don't update the app immediately.

[2015-03-10 14:34] mananwason commented on #46
ok @RoonyH @batraabhishek if you say so, I just expressed my opinion. I'll change it then.

[2015-03-10 14:37] batraabhishek commented on #46
great :) Let me know if you need any help with data fetching from spreadsheet

[2015-03-10 14:37] mananwason commented on #46
Sure thanks :)

[2015-03-10 14:43] mananwason commented on #46
@batraabhishek can you give my the link to the place where @mariobehling has added the link to image column

[2015-03-10 16:34] batraabhishek commented on #51
@ujjwalt I have compiled an initial version using ical4j library ,Download as raw file https://github.com/fossasia/fossasia-companion-android/blob/master/Event%20to%20iCalendar%20convertor/mycalendar.ics

[2015-03-10 16:35] batraabhishek commented on #51
@ujjwalt Do take care of time zone diff (if you are not in singapore) ;)

[2015-03-10 16:48] batraabhishek commented on #46
@mananwason Its second last column in every track sheet

[2015-03-10 16:52] mananwason commented on #46
Thanks @batraabhishek I got it. Although please point me to somewhere where you have used volley to access the data on the spreadsheet. I will understand it from there.

[2015-03-10 16:54] batraabhishek commented on #46
Will u be using a new sheet in the doc ?

*Sent via a really tiny keyboard - please excuse the brevity of the message
On 10-Mar-2015 10:22 pm, "Manan Wason" <notifications@github.com> wrote:

[2015-03-10 16:57] mananwason commented on #46
There is a new sheet created by @mariobehling, the sponsor sheet.

[2015-03-10 17:04] batraabhishek commented on #46
Great! Check JsonToDatabase.java class in db package. You can see any function here.
See this post on how to form the URL from spreadsheet.
1) Request a Volley queue
2) Make a String Request. See how it is done there.
3) You need to remove some unwanted response. Google API adds some sort of function prototype to JSON response. Use function removePaddingFromString()
4) Add to queue.
 Your request

[2015-03-10 17:10] batraabhishek commented on #50
Working on it. Major bug. Skipped from my head to fix it... @ty221 We will release an update after this is fixeed

[2015-03-10 18:02] batraabhishek commented on #34
Completed !

[2015-03-10 18:54] ty221 opened #52 "NullPointerException - TrackActivity"
From Developer Console:

[code]

Android: 5.0
Device: Nexus 5 (hammerhead)
Time: 03/10/2015 10:19 UTC

[2015-03-10 18:57] ty221 commented on #50
@batraabhishek Ok, waiting for your changes :-)

[2015-03-10 19:01] batraabhishek commented on #50
It might take some time from my side... so lets publish the updated one...
please  check overall functioning of the app before publishing... just to
ensure no major bug is introduced while fixing other 😅

*Sent via a really tiny keyboard - please excuse the brevity of the message
On 11-Mar-2015 12:27 am, "Tymon Radzik" <notifications@github.com> wrote:

[2015-03-10 19:03] batraabhishek commented on #52
Trying to reproduce it... i know it is caused on app resume

*Sent via a really tiny keyboard - please excuse the brevity of the message
On 11-Mar-2015 12:24 am, "Tymon Radzik" <notifications@github.com> wrote:

[2015-03-11 08:15] ujjwalt commented on #51
This looks awesome! Thanks a ton! I've not verified it yet but it looks
right.

On Tue, Mar 10, 2015 at 10:05 PM Abhishek Batra <notifications@github.com>
wrote:

[2015-03-11 12:10] mariobehling commented on #34
Please use the new screenshot in this issue above for the map display.

[2015-03-11 12:15] mariobehling opened #53 "Implement a "Venue Location" page to be accessed from the "talks pages""
Currently the Link to the venue location of a talk directs to a talk page. It would be good, if I could see the address and "How to get there" myself first, before being directed to a map.

Please implement a venue location page that can be accessed from the link and include information from the spreadsheet, such as:
Venue Name<br>
Room<br>
How to get here<br>
Map	URL<br>
Link URL<br>
Address<br>

[2015-03-11 12:19] batraabhishek commented on #34
Done

[2015-03-11 13:28] mariobehling opened #54 "Hackerspace After-Events track displays, but events from spreadsheet does not display"

[2015-03-11 16:03] batraabhishek commented on #54
Fixed ! There was small structural problem in spreadsheet. Working now, no need to update app :)

[2015-03-11 16:09] #54 closed

[2015-03-11 17:21] #34 closed

[2015-03-11 17:41] ujjwalt commented on #51
Ok this is incorrect unfortunately. I know it because I can't find my talk :tongue:

[2015-03-11 17:56] batraabhishek commented on #51
Oh! Whats your talk and track ?

[2015-03-11 18:50] sagarpatidar commented on #53
I have started working on this. I am just wondering from where can I get the "spreadsheet" to show data. Please help me out.

[2015-03-11 19:05] batraabhishek commented on #51
@ujjwalt I guess the calender file was created before updating the spreedsheet. I recreated the file and Your talk is there :)

![screen shot 2015-03-12 at 12 33 11 am](https://cloud.githubusercontent.com/assets/3257840/6604625/af07402e-c84f-11e4-9a16-2dbd854b59de.png)

[2015-03-11 19:06] ty221 commented on #51
@batraabhishek I belive you :-) Closing this issue...

[2015-03-11 21:18] mariobehling commented on #51
Hi. Sorry, I did not get it yet: How can I generate a new ical every time the db is updated? Is it possible to export it from the app? What are the steps?

[2015-03-11 22:36] mariobehling commented on #54
Great work. Thanks for fixing!

[2015-03-12 04:43] ujjwalt commented on #51
@batraabhishek I think you haven't uploaded the new file

[2015-03-12 07:11] sagarpatidar commented on #53
Created the pull request.
https://github.com/fossasia/fossasia-companion-android/pull/55
Check it out.
Cheers!

[2015-03-12 07:23] batraabhishek commented on #51
Uploaded a new file. @mariobehling Its a separate java project that created a iCalendar file. I didnot implemented in the app, because it will generate iCalendar file on every device running the app.

[2015-03-12 07:35] mariobehling commented on #51
Ok, understand, could you add the ical in the FOSSASIA site, please? Just put it in the main directory here, please: https://github.com/fossasia/fossasia15

[2015-03-12 07:46] batraabhishek commented on #51
Sure ! Cloning repo. :)

Regards,
Abhishek Batra
+91-8754758134
LinkedIn <https://www.linkedin.com/in/batraabhishek>

On Thu, Mar 12, 2015 at 1:05 PM, Mario Behling <notifications@github.com>
wrote:

[2015-03-12 08:20] batraabhishek commented on #51
@mariobehling  Done ... Added PR.

[2015-03-12 09:05] mariobehling commented on #51
What time zone did you set the calendar? I have set everything here to Singapore time zone and it shows, that things are starting at 6.30. Any idea?

[2015-03-12 09:07] mariobehling commented on #51
![icaltimezone](https://cloud.githubusercontent.com/assets/1583873/6614931/3c5cdd3c-c8da-11e4-9da1-73f5408c4f48.png)

[2015-03-12 09:40] batraabhishek commented on #51
@mariobehling I am not able to figure out whats the problem with code right now. How about a time independent Calendar for now. Timing will be fixed irrespective of time zone. Suggestions ?

[2015-03-12 10:16] batraabhishek commented on #53
Added location data to dialog. Changed a little formatting to support app theme.

![venue](https://cloud.githubusercontent.com/assets/3257840/6615958/de63ee7e-c8ce-11e4-9865-98a1fd5254fa.jpg)

[2015-03-12 10:18] mariobehling commented on #51
Yes, good idea. I just thought you had set it maybe to your time zone and that would be easy to fix. Timezone-Independent calendar sounds like a good idea.

[2015-03-12 10:21] batraabhishek commented on #53
Added location data to the dialog, changed a little formatting to match app theme
![sc](https://cloud.githubusercontent.com/assets/3257840/6616018/9b50aaae-c8cf-11e4-91ab-807170abb4e2.jpg)

[2015-03-12 10:25] batraabhishek commented on #51
Cool ! Created a PR https://github.com/fossasia/fossasia15/pull/42

[2015-03-12 10:28] sagarpatidar commented on #53
Looks good. Though, I would suggest to change the background of dialog title. Red color of "okay"(Button) contradicts with red color of the dialog title which is not a button. You might want to rethink upon it.

[2015-03-12 10:49] #51 closed

[2015-03-12 10:59] batraabhishek commented on #53
@sagarpatidar Okay... I will make some changes to give it a button look.

[2015-03-12 11:02] #3 closed

[2015-03-12 11:41] #53 closed

[2015-03-12 16:05] batraabhishek opened #56 "Things that need to be fixed urgently."
@mariobehling Kindly list any urgent changes you want with the app. I know Fossasia'15 is already in full swing (Facebook :P), so we cannot do much changes as we don't have much time. But still if you want any things to fixed, please list it here. We will try our best to fix them :D @ty221 Lets launch first release built 1.0 on play store.

[2015-03-12 16:52] mariobehling commented on #56
1) If you could implement to show the "moderator"on the talk page (not the talk overview), would be great.
2) If the app could jump to the first day that there is a schedule, e.g. Workshops should jump to March 14 instead of March 13 as the first slide.
2) If there was a link somewhere for people to submit an issue on github, would be good too.
I think other things can be done step by step. What a

[2015-03-12 17:00] batraabhishek commented on #56
Sounds great :) Will fix these issues first

[2015-03-12 18:03] batraabhishek commented on #45
Done!

[2015-03-12 18:03] #45 closed

[2015-03-12 18:30] batraabhishek commented on #56
Following two things are fixed:

2) If the app could jump to the first day that there is a schedule, e.g. Workshops should jump to March 14 instead of March 13 as the first slide.

@ty221 Can you please release the app on GitHub and Play Store signed with your key. Thanks :)

[2015-03-12 18:32] #42 closed

[2015-03-12 19:04] ty221 opened #57 "NullPointerException - TrackActivity"
From Google Play Developer Console:

[code]

Device: OnePlus One (A0001)
Android: Android 5.0
Version: 1.0b

[2015-03-12 19:04] ty221 commented on #39
@mariobehling Do you have higher resolution image of white FOSSASIA logo (something like 1300x...)?

[2015-03-12 19:07] ty221 commented on #56
@batraabhishek Hi, of course, I will make release soon, however I will try to fix issue 4) ;)

[2015-03-12 19:30] ty221 opened #58 "Integrate application with Google Analytics SDK"
What do you think about connecting our app with Google Analytics SDK? It will give us access to (among others):
[code]
Works also on devices without Google Play services.

https://developers.google.com/analytics/devguides/collection/android/v4/

[2015-03-12 19:31] ty221 opened #59 "Splash activity should be portait-only"
Causes errors in displaying, when moving to landscape.

[2015-03-12 20:00] #59 closed

[2015-03-12 20:26] #56 closed

[2015-03-12 20:27] ty221 commented on #56
@batraabhishek @mariobehling Fixed 4). Releasing new version :D

[2015-03-13 07:20] mananwason commented on #46
Hi @batraabhishek. Thanks for your help. Can you please tell me what do you mean by modifying the database name. Could you elaborate ?

[2015-03-13 10:14] batraabhishek commented on #46
@mananwason Modify line 44, DatabaseHelper.java :P A new db name will recreate the database

[2015-03-13 10:55] mananwason commented on #46
oh ya allright. Thanks :D

[2015-03-13 18:55] mananwason commented on #46
@batraabhishek  I finished the implementation but when I run the app, it showed me some errors in stringrequest.java(I didn't do anything to string request.java) . Can you help me with this. I googled a lot, but to no avail.
thanks

![image](https://cloud.githubusercontent.com/assets/10570249/6645175/3bc3845a-c9e0-11e4-8249-8bd2d3c1cc1f.png)

[2015-03-13 19:01] batraabhishek commented on #46
in my cloned repo this is the constructor definition
    `public StringRequest(String url, Listener<String> listener, ErrorListener errorListener) {
        this(Method.GET, url, listener, errorListener);
    }`

[2015-03-14 07:22] mananwason commented on #46
But when I add the errorlistener, then I get the following error, but the same code you've written in the fetchtrackurl is perfectly fine. Why is that so ?
![image](https://cloud.githubusercontent.com/assets/10570249/6650645/ce04bbd6-ca44-11e4-97ce-816df62eab8f.png)

[2015-03-14 17:52] ty221 opened #60 "NullPointerException - getView"
From Google Developer Console:

[code]

Version: 1.0b
Android: 4.4
Model: Galaxy S3

[2015-03-18 18:43] Vandan-V-Phadke opened #61 "NumberFormatException in addToAgenda method in Event Details Fragment"
java.lang.NumberFormatException: Invalid int: "March1310"
            at java.lang.Integer.invalidInt(Integer.java:138)
            at java.lang.Integer.parse(Integer.java:410)
            at java.lang.Integer.parseInt(Integer.java:367)
            at java.lang.Integer.parseInt(Integer.java:334)
            at org.fossasia.utils.StringUtils.StringToDate(StringUtils.java:143)
            at  org.fo

[2015-03-18 18:45] ty221 commented on #61
Thanks. We will check this issue
On Wed 18 Mar 2015 at 19:43 Vandan <notifications@github.com> wrote:

[2015-03-18 18:47] Vandan-V-Phadke commented on #61
Sir, I am trying to fix this bug. I will issue a PR asap

[2015-03-20 19:50] leto opened #64 "Does not cache schedule between app restarts"
To re-created the bug:

- [ ] Open FOSSAsia app, wait for the initial JSON document load
- [ ] View schedule
- [ ] Close app (not just minimize)
- [ ] Open FOSSAsia app again
- [ ] It does the entire schedule reload again, instead of caching locally for say, 1 hr or so

cc @mariobehling

[2015-03-21 04:53] batraabhishek commented on #64
@leto Actually this was left intentionally for testing the app as soon as the data is updated. Data source structure was a bit weak, so even a small human error could make the app crash/or prohibiting data parsing. Somehow fixing this was left undone :P :)

[2015-03-21 15:01] Vandan-V-Phadke commented on #64
Can we not store it in the sqlite db ?

[2015-03-22 02:12] leto commented on #64
@batraabhishek I understand it is useful for testing, but it is a bug that makes a user wait for the entire schedule to load on every start. That was 5-10 seconds on my phone, which is unpleasant. It sounds like it would be nice to have a "refresh schedule" button in the UI somewhere, so the conference guest can decide to update the schedule. Also, this is best done in a background thread, so it d

[2015-03-22 04:16] batraabhishek commented on #64
@leto Yup, It shouldn't be there in the first place. I know the conference is over, but I will quickly fix it for now. As a later step we can implement a background data loading.

@Vandan-V-Phadke In the current system, there is a versioning system. Initially -1 is stored as version in shared preferences, if the version returned by server is greater then devise stored version, data is downloaded a

[2015-03-22 05:34] batraabhishek commented on #64
@Vandan-V-Phadke After parsing the data, we are storing it in sqlite only.

[2015-03-25 15:26] mananwason commented on #46
@mariobehling @ty221 @batraabhishek  Can you suggest a default image for sponsor ?

[2015-03-25 16:55] ty221 commented on #46
@mananwason If there is no logo we can add grey FOSSASIA logo with small additional text "Sponsor" below.

[2015-03-25 17:00] batraabhishek commented on #46
Yea, nice idea @ty221 . @mananwason You can use something similar to this
![untitled-2](https://cloud.githubusercontent.com/assets/3257840/6830229/76a426f8-d33e-11e4-85e0-a1cf9bfbb4c4.png)

[2015-03-25 17:02] mananwason commented on #46
Yeah good idea @ty221. I will use this,

[2015-03-25 17:15] mananwason commented on #46
@batraabhishek I am getting the following error can you please tell me what can be the reason
![image](https://cloud.githubusercontent.com/assets/10570249/6830539/58709976-d340-11e4-9baf-6c8d23424bdb.png)
 This is what I've done to create the table
![image](https://cloud.githubusercontent.com/assets/10570249/6830565/a31fe436-d340-11e4-867b-7656c5046804.png)

[2015-03-25 19:50] ty221 commented on #46
Where do you execute `TABLE_SPONSOR` ?

[2015-03-25 20:11] mananwason commented on #46
In the oncreate method

[2015-03-26 03:02] mananwason commented on #46
Thanks @ty221I figured it out. I forgot to add the queries to the volley queue.

[2015-03-26 11:34] mananwason commented on #46
@ty221 @mariobehling  I have implemented the sponsor and partner section but I am not doing anything on clicking the sponsor image. What should I do with it ?
![screenshot5572327979791105362](https://cloud.githubusercontent.com/assets/10570249/6845348/c5334f9c-d3d9-11e4-9980-a48aa33a33bc.png)

[2015-03-26 13:37] ty221 commented on #46
Nice. Thanks. How about opening sponsor's website?
On Thu 26 Mar 2015 at 12:34 Manan Wason <notifications@github.com> wrote:

[2015-03-26 13:44] mananwason commented on #46
Intent or inside the app only ?

[2015-03-26 13:50] ty221 commented on #46
I think Intent is better in this case.

czw., 26 mar 2015 o 14:44 użytkownik Manan Wason <notifications@github.com>
napisał:

[2015-03-26 13:52] mananwason commented on #46
Yeah I was also thought so. I'll do it and create the pull request today itself. Many thanks

[2015-03-26 14:01] ty221 commented on #46
@mananwason Thank you. One more suggestions: can you change title in the top from "Sponsor" to "Sposnors" ?

[2015-03-26 14:02] mananwason commented on #46
Oh yeah sure @ty221 I am sorry for the mistake !!  :D

[2015-03-26 14:03] ty221 commented on #46
No problem, thanks :)

[2015-03-27 06:08] pjldby opened #67 "The app repeatedly crashes on clicking the 'Go to Maps' link in 'Venue Details' pop-up"
I tried opening it multiple times but the app kept crashing. Maybe its because of the OS (Android 5.0.2).
![screenshot_2015-03-27-11-27-57 1](https://cloud.githubusercontent.com/assets/6988566/6863343/92c16e76-d475-11e4-8a35-ad73592ccf62.png)

[2015-03-27 06:17] mananwason commented on #67
Works on my phone running android 5.1
![screenshot_2015-03-27-11-42-15](https://cloud.githubusercontent.com/assets/10570249/6863425/0586d724-d477-11e4-9fe4-5df831a12192.png)

[2015-03-27 10:12] mananwason commented on #46
@mariobehling @ty221  Please close this.

[2015-03-27 19:24] ty221 commented on #67
On Android 4.4.2 works nice either

[2015-03-27 19:25] ty221 commented on #46
@mananwason Why? It's still remaining unimplemented...

[2015-03-27 19:55] mananwason commented on #46
@ty221 see my latest PR, it's done there. What else is unimplemented?

[2015-03-27 19:55] mananwason commented on #46
@ty221 see my latest PR, it's done there. What else is unimplemented?

[2015-03-27 19:56] mananwason commented on #46
@ty221 see my latest PR, it's done there. What else is unimplemented?

[2015-03-27 19:56] mananwason commented on #46
@ty221 see my latest PR, it's done there. What else is unimplemented?

[2015-03-27 20:13] ty221 commented on #46
@mananwason Huh, sorry. Merging + closing

[2015-03-27 20:13] #46 closed

[2015-03-27 20:31] mananwason commented on #46
No problem @ty221 :)

[2015-04-05 19:28] mariobehling opened #68 "Which options do we have to collect email addresses of users?"
Do we get the email addresses of user, if we implement Google+ sign on? What other options do we have?

[2015-04-05 19:32] #29 closed

[2015-04-05 19:46] ty221 commented on #68
If somebody logs in using FB, we do get it. If somebody uses G+, we probably can fetch it - https://developers.google.com/+/mobile/android/people

[2015-04-06 11:09] Orbiter opened #69 "add message monitoring for events and event evaluation"
loklak can evaluate events (aggregation of users, mentions, hashtags, hosts of tweetet links) and prepare statistics about this. The idea for this feature request is, that:
- it should be possible to start the monitoring of events, where one event may be a single talk
- view statistics about an ongoing or past event. The statistics should include:
- a histogram showing the number of tweets per tim

[2015-04-06 11:19] Orbiter commented on #69
for a documentation of the event evaluation, see http://loklak.org/api.html#search under subsection "Search Result Aggregations"
Here is an example of an aggregation:
http://loklak.org/api/search.json?q=fossasia%20since:2015-03-01%20until:2015-03-27&source=cache&count=0&fields=created_at,screen_name,mentions,hashtags&limit=10

{
  "search_metadata" : {
    "startIndex" : "0",
    "itemsPerPage" :

[2015-04-06 11:23] mananwason commented on #68
Yes @ty221 @mariobehling  we can fetch it very easily !!

[2015-04-06 12:03] mananwason commented on #32
@mariobehling In the sheet itself we can have 2 fields and if the field is null, we can program the app to show nothing in the 2nd speaker field. What do you think ?

[2015-04-06 16:15] mariobehling commented on #68
@ty221 from FB we just get the FB email adress which is often just the facebook email, right? About G+ what are the steps to implement this? How is the experience for the user?
a) They download the app
b) They sign in with their Google-ID
c) They use the app
- once we have their email address, we don't want them to fill in their info again every time.
- is it possible to get their email without ha

[2015-04-06 16:54] mananwason commented on #68
@mariobehling We can use the primary email account used to setup the device by the user if we don't want them to sign in but it's not really much advisable. This is done by Accountmanager(API 5+)

[2015-04-09 06:12] batraabhishek commented on #68
Yes, Google+ login will provide the email also. Once the user has logged in, we can store the user's name and email in shared preference (App storage). This data is not volatile and retained even if the app is restarted. We will have to show a sign out button (may be in navigation drawer). One the user clicks "Sign Out", we will delete the data from shared preference.

Hmm. Even if we do so we wil

[2015-04-11 12:07] batraabhishek commented on #2
Integrated Google Maps, need to add markers accordingly though. :)

[2015-04-17 20:38] mananwason opened #70 "Maps not working after the latest commit"
@ty221 @mariobehling please merge my latest commit. So that the maps start working.

[2015-04-17 20:46] ty221 commented on #70
Thanks!

[2015-04-17 20:46] #70 closed

[2015-04-18 03:52] mananwason commented on #70
Thanks :D

[2015-04-30 05:29] #41 closed

[2015-04-30 05:30] #39 closed

[2015-04-30 05:32] mariobehling commented on #68
Ok, great. What kind of DB. We have a test server here.

[2015-04-30 05:34] mariobehling opened #72 "App for Re-publica"
Please create an app with the data from http://data.re-publica.de/data/

[2015-04-30 05:35] batraabhishek commented on #68
Any Database would do. We can just write a simple REST Api, which takes the params via POST. This can be done with NodeJS in few seconds ;)

Another approach is storing directly in google sreadsheet. It is also possible :)

[2015-04-30 05:39] mariobehling commented on #68
In this case for the moment it would be great to do it in a Google spreadsheet. Each sheet can be another event.

[2015-04-30 08:15] mananwason commented on #72
@mariobehling does it have to be a new app altogether or something similar to the existing one?

[2015-04-30 08:18] mariobehling commented on #72
It's just intended as a quick app. So, yes the same app.

[2015-04-30 08:18] mananwason commented on #72
Sure
On 30-Apr-2015 1:48 pm, "Mario Behling" <notifications@github.com> wrote:

[2015-04-30 09:02] mananwason commented on #72
Is there an existing repo for this app?

[2015-04-30 10:00] mariobehling commented on #72
I set up the repo here https://github.com/fossasia/rp15/

[2015-05-10 17:02] silbermantel opened #73 "empty tracks on some devices"
Selecting the ots track opentech1 shows no entries on a moto g with android 4.4.4(slimkat) while a nexus  7(tilapia) with 4.4.4(slink at) shows all results. This occurs on several tracks, reloading and restarting did not help

[2015-05-10 17:11] silbermantel opened #74 "copy and paste menu"
Selecting text pulls down an menu so copying a URL to browser is not possible. Which might not be much of a problem if links in the detailed description were clickable

[2015-05-10 18:51] mariobehling commented on #73
Seems, it was an issue with the JSON. Works again now. Closing this issue. Please add a comment, if issue is still happening.

[2015-05-10 18:51] #73 closed

[2015-05-11 05:43] silbermantel opened #75 "nothing is shared"
The sharing button opens the correct app but no content is pasted. Possibly related to #72

[2016-01-04 09:43] kaine119 opened #76 "Map page not working"
Going to the map page displays an empty map.

A console reveals that an API key for the google maps api is missing.

![console output of app](https://cloud.githubusercontent.com/assets/9492636/12087027/5d7c1e90-b30a-11e5-9c8b-43e82421fd55.png)

[2016-01-18 06:05] Nitish18 commented on #68
@mariobehling sir, can I work on this issue ??

[2016-01-21 07:47] dalmia commented on #68
Hi everyone! I would like to work on this issue.
As mentioned by @mananwason we can get it without having the user signed in because users tend to back away when they have to login, the dropout rates increase in this step. So, just taking the primary email account seems the best fit, if only email is required.
Also, the data can be easily stored as suggested by @batraabhishek  and  also can be sto

[2016-01-22 06:12] dalmia commented on #76
This is because the API key is not set in the manifest! If you look at the logcat closely, you can see that beside the API Key its written "API Key here" and if you navigate to AndroidManifest.xml, you can see that for the Google Maps meta data at the end, the value is set to a string resource which in strings.xml is - API key here.
 So to get the maps running :
1. Register the project on Google D

[2016-01-24 00:34] kaine119 commented on #76
Alright, thanks

[2016-01-24 00:34] #76 closed

[2016-11-11 16:53] vishwesh3 opened #78 "App is crashing"
When

`Process: org.fossasia, PID: 23566
                  java.lang.NumberFormatException: Invalid int: "March139"`

in **(StringUtils.java:143)** at **addToAgenda(FossasiaEventDetailsFragment.java:425)**  at **onOptionsItemSelected(FossasiaEventDetailsFragment.java:400)**

When `String time = sTime.substring(0, sTime.length() - 2);` excecutes **sTime = March1310:00AM** and after execution **time

[2017-10-15 06:47] iamnaran commented on #60
any solution . i am having this problem too ..

[2020-05-25 18:14] Supriyo9 commented on #75
I want to work on these issue please assign it to me.And guide me through out the work please.

[2020-05-26 07:13] #75 closed